

@charset "utf-8";
@import "variables";
@import "normalize";
@import "bootstrap.css";
@import "home";
@import "landscape";
@import "sky";
@import "meteocons";

a{
  color: #f9dbd7;
  &:hover{
    color: #bd2c1d;
    text-decoration: none;
  }
}