---
title: Sean Neden
---
<div class="postcard-background">
  <div class="postcard">
    <div id="sky" class="sky-gradient-default"></div>
    <div id="haze" class=""></div>
    <div id="weather">
      <div id="weather_background"></div>
      <div id="weather_midground"></div>
      <div id="weather_foreground"></div>
    </div>
    <div id="ocean"></div>
    <div id="sutro-tower"></div>
    <div id="sutro-hill"></div>
    <div id="sutro-hill-2"></div>
    <div id="distant-hill-3"></div>
    <div id="distant-hill-2"></div>
    <div id="distant-hill"></div>
    <div id="forefront-hill"></div>
    <div id="headland"></div>
    <div id="city-hill"></div>
    <div id="skyline"></div>
    <div id="skyline-front"></div>
    <div id="city2"></div>
    <div id="city"></div>
    <div id="headland-cliff"></div>
    <div id="fog-back"></div>
    <div id="fog-front"></div>
    <div id="bridge"></div>
  </div>
  <div class="weather-conditions">
    <h1 class="temperature"></h1>

    <div class="conditions"></div>
    <button class="weather-control-panel-button">Control the weather</button>
  </div>
</div>

<div class="weather-control-panel">
  <div class="container">
    <div class="row">
      <div style="text-align: center" class="col-xs-6 col-xs-offset-3 controls-buttons-wrapper">
        <div class="btn-group controls-button-group">
          <div class="btn-group">
            <button type="button" class="btn active" data-panel="conditions">Conditions</button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn" data-panel="wind">Wind</button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn" data-panel="time">Time</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-panel panel-conditions">
      <div class="control-panel">
        <div class="condition col-xs-2" data-scene="clear" data-condition-code="32" data-condition-text="Clear">
          <div class="condition-wrapper">
            <div class="meteocon" meteocon-icon="B" ></div>
            <p>Clear</p>
          </div>
        </div>
        <div class="condition col-xs-2" data-scene="pcloud" data-condition-code="29" data-condition-text="Partly Cloudy">
          <div class="condition-wrapper">
            <div class="meteocon" meteocon-icon="H"></div>
            <p>Partly Cloudy</p>
          </div>
        </div>
        <div class="condition col-xs-2" data-scene="mcloud" data-condition-code="26" data-condition-text="Mostly Cloudy">
          <div class="condition-wrapper selected">
            <div class="meteocon" meteocon-icon="Y"></div>
            <p>Mostly Cloudy</p>
          </div>
        </div>
        <div class="condition col-xs-2" data-scene="rain" data-condition-code="8" data-condition-text="Rain">
          <div class="condition-wrapper">
            <div class="meteocon" meteocon-icon="R"></div>
            <p>Rain</p>
          </div>
        </div>
        <div class="condition col-xs-2" data-scene="thunder" data-condition-code="37" data-condition-text="Thunderstorms">
          <div class="condition-wrapper">
            <div class="meteocon" meteocon-icon="P"></div>
            <p>Thunderstorms</p>
          </div>
        </div>
        <div class="condition col-xs-2" data-scene="fog" data-condition-code="fog" data-condition-text="Fog">
          <div class="condition-wrapper">
            <div class="meteocon" meteocon-icon="L"></div>
            <p>Fog</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-panel panel-wind">
      <div class="condition col-xs-2">
        <div class="condition-wrapper">
          <div class="meteocon" meteocon-icon="N"></div>
          <p>Calm</p>
        </div>
      </div>
      <div class="col-xs-8">
        <input name="windspeed" type="range" min="0" max="200" step="1" />
      </div>
      <div class="condition col-xs-2">
        <div class="condition-wrapper">
          <div class="meteocon" meteocon-icon="S"></div>
          <p>Hurricane</p>
        </div>
      </div>
    </div>
    <div class="row row-panel panel-time">
      <div class="condition col-xs-2">
        <div class="condition-wrapper">
          <div class="meteocon" meteocon-icon="A"></div>
        </div>
      </div>
      <div class="col-xs-8">
        <input name="hour" type="range" min="3" max="26" step="1" />
      </div>
      <div class="condition col-xs-2">
        <div class="condition-wrapper">
          <div class="meteocon" meteocon-icon="C"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container content-container">
  <div class="row">
    <div class="col-md-12 introduction">
      <p><span class="highlight"> Hi</span>  I'm Sean, a Software Engineer living and working in the beautiful San
        Francisco
        Bay area. I love to make things for the web. Check out some of my most recent projects below. You can also take a look
      at my <a href="http://github.com/cannuk">github profile</a> and my <a href="resume">resume</a>.</p>
      <h2>Recent Projects</h2>
    </div>
  </div>
  <div class="row examples">
    <div class="col-xs-4">
      <div class="example foggy">
        <div class="screenshot"><a href="http://isitfoggyinsanfrancisco.com">&nbsp;</a></div>
        <div class="description">
          <h5>Is it foggy in San Francisco</h5>
          <p>Of all the API's available there was none for fog in San Francisco. Unbelievable right? So I made one using image and color
          recognition. I also provide a nice single serving site for the current foggy forecast.</p>
          <div class="links">
            <a href="http://isitfoggyinsanfrancisco.com">Site</a>&nbsp;|&nbsp;<a href="http://isitfoggyinsanfrancisco.com/forecast">API</a>&nbsp;|&nbsp;<a href="https://github.com/cannuk/isthecityfoggy/wiki">Docs</a>&nbsp;|&nbsp;<a href="http://github.com/cannuk/isthecityfoggy">Github</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="example numbers">
        <div class="screenshot"><a href="/cales-magic-numbers">&nbsp;</a></div>
        <div class="description">
          <h5>Cale's Magic Numbers</h5>
          <p>One day, my 7 year old son came home with a game he had invented entirely on his own. I was so proud of him
          I recreated the game in a web browser. The game involves opening envelopes with positive and negative numbers
          until you reach a total of twenty. Check it out.</p>
          <div class="links">
            <a href="/cales-magic-numbers">Site</a><!--&nbsp;|&nbsp;<a href="/cales-magic-numbers/how">How to play</a>-->&nbsp;|&nbsp;<a href="http://github.com/cannuk/cales-magic-numbers">Github</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="example dash">
        <div class="screenshot"><a href="http://cannuk-dash.herokuapp.com/personal">&nbsp;</a></div>
        <div class="description">
          <h5>BART Dashing Widget</h5>
          <p>The Dashing dashboard framework is perfect for making great looking dashboards. I like it so much I use it as
          a custom screensaver. I created a BART widget which allows you to track arrivals by station, platform, direction
          and destination.</p>
          <div class="links">
            <a href="http://cannuk-dash.herokuapp.com/personal">Site</a>&nbsp;|&nbsp;<a href="https://gist.github.com/cannuk/589d7d4dcbefc3af024e">Github</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row social">
    <div class="col-xs-offset-3 col-xs-2">
      <div class="social-wrapper">
        <a href="http://github.com/cannuk">
          <i class="fa fa-github"></i>
           <p>Github profile</p>
        </a>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="social-wrapper">
        <a href="http://twitter.com/cannuk">
          <i class="fa fa-twitter"></i>
          <p>Twitter</p>
        </a>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="social-wrapper">
        <a href-"/resume.html">
            <i class="fa fa-file-text-o"></i>
            <p>Resume</p>
        </a>
      </div>
    </div>
  </div>
</div>
<footer>
  &copy; 2014 Sean Neden
</footer>
