---
title: Sean Neden
---

<div class="postcard">
  <div id="sky"></div>
  <div id="haze" class=""></div>
  <div id="weather">
    <div id="weather_background"></div>
    <div id="weather_midground"></div>
    <div id="weather_foreground"></div>
  </div>
  <div id="ocean"></div>
  <div id="sutro-hill"></div>
  <div id="sutro-hill-2"></div>
  <div id="distant-hill-3"></div>
  <div id="distant-hill-2"></div>
  <div id="distant-hill"></div>
  <div id="forefront-hill"></div>
  <div id="headland"></div>
  <div id="city-hill"></div>
  <div id="city"></div>
  <div id="headland-cliff"></div>
  <div id="bridge"></div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 introduction">
      <p><span class="highlight"> Hi, I'm Sean,</span> a Software Engineer living and working in the beautiful San Francisco
        Bay area. I specialize in <span class="highlight">front-end</span> development and I am also a proficient full-stack developer.</span> </p>
    </div>
  </div>
</div>
